.link-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    &__copyright {
        width: 33.33rem;
    }

    &__social {
        display: flex;
        justify-content: space-evenly;
        width: 33.33rem;
        height: 2.58rem;
        margin-top: 0.66rem;

        .fab {
            text-decoration: none;
            color: $color-text;
            font-size: 1.33rem;
            line-height: 2.33rem;
        }
    }
}