/* normalizers */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    /* -moz-box-sizing: border-box; */
    /* -webkit-box-sizing: border-box; */
}

body {
    box-sizing: border-box;
    color: #060A24;
}
/*adjust of viewport*/
.container{
    width: 100%;
}

.contain{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/*clear fix*/
.header-page::after {
    content: "";
    display: table;
    clear:both;
}

.header-page::before {
    content: "";
    display: table;
}
/*checkbox transparent and in the foreground*/
.menu__checkbox {
    display: block;
    width: 28px;
    height: 24px;
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 8px;
    right: 8px;
}
/* logo y nav  */
.header-page {
    width: 100%;
    position: relative;
    height: 44px;
    top: 0;
    padding: 10px 19px 10px 16px;
}

.header-page__logo {
    float: left;
    height: 24px;
    width: 24px;
}

.header-page__menu {
    float: right;
}
/*span -hamburger menu lines-*/
.menu__burger {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
    top: 6px;
    background: #000000;
    z-index: 1;
}

.menu__list {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    width: 100%;
    position: absolute;
    top: 4px; 
    right: 0;
    overflow: hidden;
    list-style: none;
    background:#ffffff;
    height: 0px;
}

.item__link-position,
.item__link-position:link,
.item__link-position:visited {
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-left: 48px;
    line-height: 28px;
    display: block;
}

.menu__checkbox[type="checkbox"]:checked  ~ .menu-checked .menu-checked__list {
    height: 224px;
}
/*cross movement*/
.menu__checkbox:checked + header .menu__burger {
    transform: translate(5px, 5px) scaleX(1.0999) rotate(-45deg);
    transition: transform 250ms ease-in-out; 
} 

.menu__checkbox:checked + header .menu__burger:nth-last-child(2) {
    transform: translate(5px, -5px) scaleX(1.0999) rotate(45deg) ;
    transition: transform 250ms ease-in-out; 
}

.menu__checkbox:checked + header .menu__burger:nth-last-child(3) {
    transform: translate(5px, 0px) scaleX(1.0999) ;
    opacity: 0;
}
/*drop down menu below header*/
.menu-checked__list {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    overflow: hidden;
    list-style: none;
    background: #0000EC;
    height: 0px;
    transition: height 0.4s ease;
}

.item-checked--link,
.item-checked--link:link,
.item-checked--link:visited {
    text-decoration: none;
    color: #ffffff;
    padding: 0;
    margin: 16px 0 24px 5vw;
    display: block;
}
/* first front with button conoce */
.firts-introduction {
    display: inline-block;
    padding: 0 5vw;
}

.firts-introduction__text {
    padding-top: 29px;
    font-family: 'IBM Plex Mono', monospace;
}

.text--title {
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
}

.text--paragraph-one {
    font-size: 14px;
    line-height: 22px;
}

.text--paragraph-two {
    font-size: 16px;
    line-height: 24px;
    display: none;
}

.firts-introduction__button {
    padding-top: 36px;
    display: flex;
    justify-content: center;
}

.button--conoce,
.button--conoce:active {
    height: 48px;
    width: 288px;
    border: none;
    text-decoration: none;
    background-color: #00F3BB;
    font-family: 'IBM Plex Mono', medium;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;  
}
/* spotify zone with gradient*/
.spotify {
    width: 100%;
    margin-top: 24px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    padding-bottom: 132.5px;/*11 px is subtracted from the list__itemn-podcast*/
}

.spotify__title {
    display: block;
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding-top: 64px;
    padding-left: 5vw;
}

.spotify__list {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.list__item-podcast {
    margin-bottom: 11px;
    width: 298px;
    height: 232px;
}

/* women codding*/
.women-codding {
    position: relative;
    display: flex;
    flex-direction: column;
}

.women-codding__image {
    width: 360px;
    height: 519px;
    margin-top: -95.5px;
    align-self: center;
}

.text__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin: 27px 5vw 0 5vw;
}

.test__paragraph {
    font-family: 'IBM Plex Mono', medium;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 8px 5vw 0 5vw;
}
/*guess vip*/
.guess {
    margin-top: 54px;
}

.guess__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    padding-left: 5vw;
    margin-bottom: 14px;
}

.guess__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.images__women {
    max-width: 480.5px;
    max-height: 364px;
}
/*our topics*/
.our-topic {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 48px;
}

.our-topic__title {
    padding: 0 5vw;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.our-topic__icons {
    margin-top: 24px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons__article {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons--image {
    width: 104px;
    height: 104px;
    margin: 13px 0;
}

.icons--text {
    width: 100%;
    text-align: center;
    margin-bottom: 52px;
}

#text--work {
    margin-bottom: 36px;/*different size in the margin bottom*/
}

#text--security {
    margin-bottom: 42px;/*different size in the margin bottom*/
}
/*news section*/
.news {
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
    padding: 0 5vw;
}

.news__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    padding: 64px 5vw 36px 5vw;
}

.news__button {
    display: flex;
    justify-content: center;
}
/*simple menu with size more than 1170px*/
@media screen and (min-width: 1170px) /*and (orientation: landscape)*/ {
    .menu__checkbox {
        display: none;
    }

    .menu__burger {
        display: none;
    }
    /* logo y nav  */
    .header-page {
        height: 80px;
        padding: 22px 100px;
    }

    .header-page__logo {
        height: 36px;
        width: 36px;
    }
    /*list of options in nav */
    .menu__list {
        position: relative;
        height: 36px;
    }

    .item__link-position:hover {
        color: #00F3BB;
        font-family: 'IBM Plex Mono', medium;
        text-decoration: line-through;
    }

    .item__link-position:active {
        text-decoration: line-through;
    }

    .list--item {
        display: inline-block;
    }

    .menu-checked {
        display: none;
    }
    /* first front with button conoce  */
    .firts-introduction {
        padding: 0 13.889vw;
        width: 100%;
    }

    .firts-introduction__text {
        padding-top: 120px;
    }

    .text--title {
        margin: 0;
        font-size: 64px;
        line-height: 84px;
    }

    .tittle--dot-blue {
        color: #0000EC;
    }

    .text--paragraph-one {
        display: none;
    }
    
    .text--paragraph-two {
        display: inline-block;
        width: 628px;
    }

    .firts-introduction__button {
        padding-top: 56px;
        width: 100%;
        justify-content: flex-start;
    }

    .button--conoce {
        height: 56px;
        width: 226px;
    }

    .button--conoce:hover,
    .button--conoce:active {
        color: #FFFFFF;
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    }
    /* spotify list*/
    .spotify {
        clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
        margin-top: 5px;
        padding-bottom: 160.6px;/*64 px is subtracted from the list__itemn-podcast*/
    }

    .spotify__title {
        font-size: 48px;
        line-height: 62px;
        padding-top: 186px;
        padding-left: 13.889vw;
    }

    .spotify__list {
        margin-top: 26px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .list__item-podcast {
        width: 40.55vw;
        max-width: 584px;
        display: block;
        margin-bottom: 72px;
    }
    
    /* women codding*/
    .women-codding {
        flex-direction: row;
        margin-left: 13.889vw;
    }

    .women-codding__image {
        width: 457px;
        height: 660px;
        margin-top: -168.6px;
    }

    .text__title {
        width: 32.223vw;
        font-size: 48px;
        line-height: 62px;
        margin: 20.4px 0 0 62.4px;
    }
    
    .test__paragraph {
        width: 32.223vw;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 24px 0 0 62.4px;
    }
     /*guess vip*/
     .guess {
        margin-top: 64px;
    }

    .guess__title {
        font-size: 48px;
        line-height: 62px;
        padding-left: 13.889vw;
        margin-bottom: 36px;
    }
    /*our topics*/
    .our-topic {
        margin-top: 64px;
    }

    .our-topic__title {
        padding: 0 13.889vw;
        font-size: 48px;
        line-height: 68px;
    }

    .our-topic__icons {
        margin-top: 56px;
        flex-direction: row;
        margin-left: 13.889vw;
        align-items: flex-start;
    }

    .icons__article {
        width: 260px;
    }

    .icons--text {
        margin-top: 16px;
        margin-bottom: 34px;
    }

    #text--security {
        margin-bottom: 34px;/*the measure requested at the beginning was corrected*/
    }
}
/*simple menu with size more than 780px and less tan 1169px*/
@media screen and (min-width: 780px) and (max-width: 1170px)/*(orientation: landscape)*/ {
    /* logo y nav  */
    .header-page {
        height: 56px;
        padding: 14px 50px;
    }

    .header-page__logo {
        height: 28px;
        width: 28px;
    }

    .header-page__menu {
        height: 28px;
        width: 28px;
    }

    .item-checked--link,
    .item-checked--link:link,
    .item-checked--link:visited {
        margin-left: 7vw; 
    }

    .menu__checkbox {
        top: 14px;
        right: 51px;
    }

    .menu__burger {
        top: 8px;
    }
    /* first front with button conoce  */
    .firts-introduction {
        padding: 0 7vw;
        width: 100%;
    }

    .firts-introduction__text {
        padding-top: 74px;
    }

    .text--title {
        margin: 0;
        font-size: 57px;
        line-height: 73px;
    }

    .tittle--dot-blue {
        color: #0000EC;
    }

    .text--paragraph-one {
        display: none;
    }
    
    .text--paragraph-two {
        display: inline-block;
        max-width: 628px;
    }

    .firts-introduction__button {
        padding-top: 40px;
        width: 100%;
    }

    .button--conoce,
    .button--conoce:active {
        height: 56px;
        width: 226px;
    }
    /* spotify list*/
    .spotify {
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
        margin-top: 15px;
        padding-bottom: 110px;/*64 px is subtracted from the list__itemn-podcast*/
    }

    .spotify__title {
        font-size: 42px;
        line-height: 54px;
        padding-top: 125px;
        padding-left: 7vw;
    }

    .spotify__list {
        margin-top: 23px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .list__item-podcast {
        margin: 0 45px 72px 0;
    }
    /* women codding*/
    .women-codding {
        flex-direction: row;
        margin-left: 7vw;
    }

    .women-codding__image {
        width: 408px;
        height: 590px;
        margin-top: -132px;
    }

    .text__title {
        width: 32.223vw;
        font-size: 42px;
        line-height: 52px;
        margin: 22px 0 0 20px;
    }
    
    .test__paragraph {
        width: 32.223vw;
        margin: 12px 0 0 20px;
    }
    .guess {
        margin-top: 64px;
    }
    /*guess vip*/
    .guess__title {
        font-size: 42px;
        line-height: 52px;
        padding-left: 7vw;
        margin-bottom: 25px;
    }
    /*our topics*/
    .our-topic {
        margin-top: 56px;
    }

    .our-topic__title {
        padding: 0 7vw;
        font-size: 42px;
        line-height: 52px;
    }

    .our-topic__icons {
        margin-top: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 20vw;
        justify-content: center;
    }

    .icons__article {
        width: 254px;
    }

    .icons--text {
        margin-top: 16px;
        margin-bottom: 34px;
    }

    #text--security {
        margin-bottom: 34px;/*the measure requested at the beginning was corrected*/
    }
}
