/* normalizadores */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    /* -moz-box-sizing: border-box; */
    /* -webkit-box-sizing: border-box; */
}

body {
    box-sizing: border-box;
}

/*clear fix*/
.header-page::after {
    content: "";
    display: table;
    clear:both;
}

.header-page::before {
    content: "";
    display: table;
}

/*checkbox transparente y en primer plano*/
.menu__checkbox {
    display: block;
    width: 28px;
    height: 24px;
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 8px;
    right: 8px;
}

/* logo y nav  */
.header-page {
    width: 100%;
    position: relative;
    height: 44px;
    top: 0;
    padding: 10px 19px 10px 16px;
}

.header-page__logo {
    float: left;
    height: 24px;
    width: 24px;
}

.header-page__menu {
    float: right;
}

/*span -lineas del menu hamburguesa-*/
.menu__burger {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
    top: 6px;
    background: #000000;
    z-index: 1;
}

.menu__list {
    /*posicion absolute para que se posicione debajo del resto del header 
    -top medida del header*/
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    width: 100%;
    position: absolute;
    /* top: 45px; */
    top: 4px; 
    right: 0;
    overflow: hidden;
    list-style: none;
    /* background: #0000EC; */
    background:#ffffff;
    height: 0px;
    /* transition: height 0.4s ease; */
    /* z-index: 6; */
}

.item__link-position,
.item__link-position:link,
.item__link-position:visited {
    text-decoration: none;
    /* color: #ffffff; */
    color: #060A24;
    padding: 0;
    margin: 0;
    margin-left: 48px;
    /* margin: 16px 0 24px 16px; */
    line-height: 28px;
    display: block;
}

.menu__checkbox[type="checkbox"]:checked  ~ .menu-checked .menu-checked__list{
    height: 224px;
}

/*movimiento a cruz*/
.menu__checkbox:checked + header .menu__burger {
    transform: translate(5px, 5px) scaleX(1.0999) rotate(-45deg);
    transition: transform 250ms ease-in-out; 
} 

.menu__checkbox:checked + header .menu__burger:nth-last-child(2) {
    transform: translate(5px, -5px) scaleX(1.0999) rotate(45deg) ;
    transition: transform 250ms ease-in-out; 
}

.menu__checkbox:checked + header .menu__burger:nth-last-child(3) {
    transform: translate(5px, 0px) scaleX(1.0999) ;
    opacity: 0;
}

/*menu desplegable debajo del header*/
.menu-checked__list {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    width: 100%;
    top: 45px;
    top: 4px; 
    right: 0;
    overflow: hidden;
    list-style: none;
    background: #0000EC;
    height: 0px;
    transition: height 0.4s ease;
    z-index: 6;
}

.item-checked--link,
.item-checked--link:link,
.item-checked--link:visited {
    text-decoration: none;
    color: #ffffff;
    padding: 0;
    margin: 0;
    margin-left: 48px;
    margin: 16px 0 24px 16px;
    line-height: 28px;
    display: block;
}

/* primer front con boton conoce  */

.firts-introduction {
    display: inline-block;
    color: #060A24;
    padding: 0 16px;
}

.firts-introduction__text {
    padding-top: 29px;
    font-family: 'IBM Plex Mono', monospace;
}

.text--title{
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
}

.text--paragraph-one {
    font-size: 14px;
    line-height: 22px;
}

.text--paragraph-two {
    font-size: 16px;
    line-height: 24px;
    display: none;
}

.firts-introduction__button {
    padding-top: 36px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.button--conoce,
.button--conoce:active {
    height: 48px;
    width: 288px;
    border: none;
    text-decoration: none;
    background-color: #00F3BB;
    font-family: 'IBM Plex Mono', medium;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;  
}

/* zona de spotify con el gradiente*/
.spotify{
    width: 100%;
    margin-top: 24px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    padding-bottom: 132.5px;
}

.spotify__title{
    display: block;
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
    padding-top: 64px;
    padding-left: 16px;
}

.spotify__list{
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list__item-podcast{
    margin-bottom: 11px;
}

.spotify__women-code {
    position: absolute;
    background: no-repeat;
    background-size: cover;
    height: 519px;
}

/*menu simple con tamaño menor a 1024px*/
@media screen and (min-width: 1100px) /*and (orientation: landscape)*/ {
    .menu__checkbox {
        display: none;
    }

    .menu__burger {
        display: none;
    }
    /* logo y nav  */
    .header-page {
        /* position: relative; */
        height: 80px;
        /* top: 0; */
        padding: 22px 100px;
    }

    .header-page__logo {
        /* float: left; */
        height: 36px;
        width: 36px;
    }
    /* lista de opciones en el nav  */
    .menu__list {
        position: relative;
        /* top: 4px; */
        /* right: 0; */
        /* background:#ffffff; */
        height: 36px;
    }

    .item__link-position,
    .item__link-position:link,
    .item__link-position:visited {
        /* margin: 0; */
        /* padding: 0; */
        /* line-height: 28px; */
        /* color: #060A24; */
        /* margin-left: 48px; */
    }

    .item__link-position:hover {
        color: #00F3BB;
        font-family: 'IBM Plex Mono', medium;
        text-decoration: line-through;
    }

    .item__link-position:active {
        color: #060A24;
        text-decoration: line-through;
    }

    .list--item {
        padding: 0;
        display: inline-block;
    }
    /* primer front con boton conoce  */
    .firts-introduction {
        padding: 0 200px;
        width: 100%;
    }

    .firts-introduction__text {
        padding-top: 120px;
    }

    .text--title{
        margin: 0;
        font-size: 64px;
        line-height: 84px;
    }

    .tittle--dot-blue{
        color: #0000EC;
    }

    .text--paragraph-one {
        display: none;
    }
    
    .text--paragraph-two {
        display: inline-block;
        width: 628px;
    }

    .firts-introduction__button {
        padding-top: 56px;
        width: 100%;
        justify-content: flex-start;
    }

    .button--conoce {
        height: 56px;
        width: 226px;
    }

    .button--conoce:hover,
    .button--conoce:active {
        color: #FFFFFF;
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    }
}

/*menu simple con tamaño menor a 768px*/
@media screen and (min-width: 768px) and (max-width: 1100px)/*(orientation: landscape)*/ {
    /* logo y nav  */
    .header-page {
        /* position: relative; */
        height: 56px;
        /* top: 0; */
        padding: 14px 50px;
    }

    .header-page__logo {
        /* float: left; */
        height: 28px;
        width: 28px;
    }

    .header-page__menu {
        height: 28px;
        width: 28px;
    }

    .menu-checked {
        top: 55px; 
    }

    .item-checked--link,
    .item-checked--link:link,
    .item-checked--link:visited {
        margin-left: 49px; 
    }

    .menu__checkbox {
        top: 14px;
        right: 51px;
    }

    .menu__burger {
        top: 8px;
    }
    /* primer front con boton conoce  */
    .firts-introduction {
        padding: 0 50px;
        width: 100%;
    }

    .firts-introduction__text {
        padding-top: 74px;
    }

    .text--title{
        margin: 0;
        font-size: 57px;
        line-height: 73px;
    }

    .tittle--dot-blue{
        color: #0000EC;
    }

    .text--paragraph-one {
        display: none;
    }
    
    .text--paragraph-two {
        display: inline-block;
        max-width: 628px;
    }

    .firts-introduction__button {
        padding-top: 40px;
        width: 100%;
    }

    .button--conoce,
    .button--conoce:active {
        height: 56px;
        width: 226px;
    }
}
