//burger menu lines
.menu {
    position: absolute;
    float: right;
    top: 1.333rem;
    right: 1.58rem;
    z-index: 6;
    //span -hamburger menu lines
    &__burger {
        display: block;
        width: 1.5rem;
        height: 0.17rem;
        margin-bottom: 0.25rem;
        position: relative;
        top: 0.5rem;
        background: $color-black;
        transition: transform 250ms ease-in-out; 
    }
}