.firts-introduction {
    &__button {
        padding-top: 3rem;
        display: flex;
        justify-content: center;

        .button--conoce {
            &, &:active {
                height: 4rem;
                background-color: $color-bottom-one;
                width: 24rem;
                border: none;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

.news {
    &__button {
        display: flex;
        justify-content: center;

        .button--escucha {
        &, &:active {
            height: 4rem;
            background-color: $color-bottom-one;
            width: 24rem;
            border: none;
            text-decoration: none;
            cursor: pointer;
            }
        }
    }
}