//first title and text
.firts-introduction {
    display: inline-block;
    padding: 0 $margin-left;

    @include respond(tab) {
        padding: 0 $margin-left-tab;
        width: 100%;
    }

    @include respond(desktop) {
        padding: 0 12.5rem;
        width: 100%;
    }

    &__text {
        .text--paragraph-two {
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 400;
            display: none;

            @include respond(tab) {
                display: inline-block;
                max-width: 45rem;
            }
        
            @include respond(desktop) {
                display: inline-block;
                width: 39.25rem;
            } 
        }
    }
}