//first title and text
.firts-introduction {
    display: inline-block;

    &__text{
        .text--paragraph-two {
            font-size: 1.33rem;
            line-height: 2rem;
            display: none;
        }
    }
}