//our topics
.our-topic {
    &__icons {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icons__article {
            width: 24rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .icons--image {
                width: 8.67rem;
                height: 8.67rem;
                margin: 1.08rem 0;
            }

            #text--work {
                margin-bottom: 3rem;//different size in the margin bottom
            }
            
            #text--security {
                margin-bottom: 4.33rem;//different size in the margin bottom
            }
        }
    }
}