//our topics
.our-topic {
    &__icons { 
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tab) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    
        @include respond(desktop) {
            flex-direction: row;
            align-items: flex-start;
        }

        .icons__article {
            width: 24rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(tab) {
                width: 18.14rem;
            }
        
            @include respond(desktop) {
                width: 16.25rem;
            }

            .icons--image {
                width: 8.67rem;
                height: 8.67rem;
                margin: 1.08rem 0;
            }
        }
    }
}