//women codding
.women-codding {
    display: flex;
    flex-direction: column;

    .women-codding__image {
        width: 30rem;
        height: 43.25rem;
        margin-top: -7.9583rem;
        align-self: center;
    }
}