// NORMALIZERS
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 75%; // 1rem = 12px

    @include respond(tab) {
        font-size: 87.5%;  // 1rem = 14px
    }
    
    @include respond(desktop) {
        font-size: 100%; // 1rem = 16px
    }
}
  
body {
    box-sizing: border-box;

}
//ADJUST OF VIEWPORT
.container{
    width: 100%;

    .contain{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
}

