body {
    color: $color-text;
    font-family: $font-sans;
}

.header-page {
    .header-page__menu {
        .menu__list {

        }
    }
}

.menu-checked {
    .menu-checked__list {
        font-family: $font-mono;
        font-size: 1.33rem;
        line-height: 2.33rem;

        .item-checked--link {
            &, &:link, &:visited {       
                text-decoration: none;
                color: $color-white;
                // padding: 0;
                font-weight: 300;
                margin: 1.33rem 0 2rem 1.33rem;
            }   
        }
    }
}

.firts-introduction {
    padding: 0 1.33rem;

    .firts-introduction__text {
        padding-top: 2.42rem;
        font-family: $font-mono;

        .text--title {
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: 1.33rem;
            font-weight: 400;
        }

        .title--dot-blue {

        }

        .text--paragraph-one {
            font-size: 1.16rem;
            line-height: 1.83rem;
            font-weight: 400;
        }   
        
        .text--paragraph-two {
            
        }
    }

    .firts-introduction__button {
        .button--conoce {
            &, &:active {
                font-family: $font-mono;
                font-size: 1.33rem;
                line-height: 1.83rem;
                font-weight: 400;
                text-align: center; 
            }
        }
    }
}

.spotify {
    .spotify__title {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 400;
        color: $color-white;
        padding-top: 5.33rem;
        padding-left: 1.33rem;
    }
}

.women-codding {
    .text__title {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 400;
        margin: 2.25rem 1.33rem 0 1.33rem;
    }

    .test__paragraph {
        font-family: $font-mono;
        font-size: 1.17rem;
        font-weight: 400;
        line-height: 1.83rem;
        margin: 0.67rem 1.33rem 0 1.33rem;
    }
}

.guess {
    .guess__title {
        font-size: 3rem;
        font-weight: 400;
        line-height: 3.5rem;
        padding-left: 1.33rem;
        margin-bottom: 1.17rem;
    }
}

.our-topic {
    .our-topic__title {
        padding: 0 1.33rem;
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 400;
    }

    .our-topic__icons {
        margin-top: 2rem;
        font-size: 2rem;
        line-height: 2.67rem;

        .icons--text {
            font-weight: 500;
            width: 100%;
            text-align: center;
            margin-bottom: 4.33rem;
        }

        #text--work {
            margin-bottom: 3rem;//different size in the margin bottom
        }
        
        #text--security {
            margin-bottom: 4.33rem;//different size in the margin bottom
        }
    }
}

.news {
    .news__title {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 400;
        color: $color-white;
        text-align: center;
        padding: 5.33rem 0 3rem 0;
    }

    .news__button {
        .button--escucha {
        &, &:active {
            font-family: $font-mono;
            font-size: 1.33rem;
            line-height: 1.83rem;
            font-weight: 400;
            text-align: center; 
            }
        }
    }
}

.link-media {
    .link-media__copyright {
        font-family: $font-mono;
        font-size: 1.17rem;
        line-height: 1.83rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 0.66rem;
    }
}